.auth-form-wrapper {
  max-width: 400px;
  margin: 50px auto;
  padding: 2rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #fff;
}

.auth-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.auth-form .btn {
  width: 100%;
  background: #007bff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.auth-form .error {
  color: red;
  font-size: 0.85rem;
  margin-top: -8px;
  margin-bottom: 10px;
}

.success-message {
  text-align: center;
  padding: 2rem;
}

.switch-link {
  margin-top: 1rem;
  font-size: 0.9rem;
}


/* Popup */
.popup-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.login-popup {
  background: #fff;
  padding: 2rem;
  border-radius: 10px;
  width: 300px;
  position: relative;
}

.login-popup h2 {
  margin-bottom: 1rem;
}

.login-popup input {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.login-popup button {
  width: 100%;
  padding: 0.5rem;
}
.login-popup .close-btn {
 position: absolute;
  top: 0;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  width: auto;
}
.cursor-pointer {
  cursor: pointer;
}